# Virtual Environment
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
